<!DOCTYPE html>
<html xmlns:th="<http://www.thymeleaf.org>" 
xmlns:layout="<http://www.ultraq.net.nz/thymeleaf/layout>" 
layout:decorate="~{/include/layout}">
	<th:block layout:fragment="content">	
		<link th:href="@{/css/member/create.css}" rel="stylesheet">
		<section>
			<div id="section_wrap">
				<div class="word">
					<h3>회원가입</h3>
					<br>
					<span>※아이디는 추후에 수정할 수 없습니다. 
					<br>신중하게 선택해주세요.</span>
				</div><br>
				<div class="create_member_form">
					<form name="create_member_form">
						<input type="text" name="member_id" placeholder="아이디"> <br>
						<input type="password" name="member_pw" placeholder="비밀번호"> <br>
						<input type="password" name="member_pw_check" placeholder="비밀번호 확인"> <br>
						<input type="text" name="member_name" placeholder="닉네임"> <br>
						<input type="submit" value="회원가입"> 
					</form>
				</div>
			</div>
		</section>		
		<script>
			const form = document.create_member_form;
			form.addEventListener('submit',(e)=>{
				e.preventDefault();
				// 1. 유효성 검사
				// 2. 회원정보 등록
				
				let vali_check = false;
				let vali_text = "";
				
				if(!form.member_id.value){
					vali_text += "아이디를 입력하세요"
				}else if(!form.member_pw.value){
					vali_text += "비밀번호를 입력하세요"
				}else if(form.member_pw.value !=form.member_pw_check.value){
					vali_text += "비밀번호가 일치하지 않습니다";
				}else if(!form.member_name.value){
					vali_text += "이름을 입력하세요"
				}else{
					vali_check=true;
				}
				
				if(vali_check== false){
					alert(vali_text);
				}else{
					const payload = new FormData(form);
					fetch("/member",{
						method:'post',
						body:payload
					})
					.then(response => response.json())
					.then(data=>{
						console.log(data);
						if(data.res_code == "400"){
						alert(data.res_msg);
						location.href="/";
						}else if(data.res_code == "500"){
							alert(data.res_msg);
						}
					})
					
					.catch(error=>{
						console.log(error);
						// alert("회원가입의 실패하였습니다.");
					})
				}
			}) 
		</script>
    </th:block>
</html>
