<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{/include/layout}">
	<th:block layout:fragment="content">	
		<link th:href="@{/css/member/login.css}" rel="stylesheet">
		<section>
		<div id="section_wrap">
			<div class="word">
				<h3>로그인</h3>
				<th:block th:if="${error == 'true'}">
					<br>* <span th:text="${errorMsg}"></span>*<br>
				</th:block>
			</div>
			<div class="login_form">
				<form name="login_form" action="/login" method="post">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					<input type="text" name="username" placeholder="아이디"> <br>
					<input type="password" name="password" placeholder="비밀번호"> <br>
					<input type="checkbox" name="remember-me" id="remember-me">
					<label for="remember-me">로그인 상태 유지</label><br>
					<input type="submit" value="로그인"> 
				</form>
			</div>
			<div class="find_password_create_account">
				<a>회원가입</a>
			</div>
		</div>
	</section>	
    </th:block>
</html>