<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<th:block th:fragment="navLayout">
		<link th:href="@{/css/include/nav.css}" rel="stylesheet">
		<nav>
			<div id="nav_wrap">
				<div class="menu">
					<ul>
						<th:block sec:authorize="isAnonymous()">
							<li>
								<a th:href="@{/login}">로그인</a>
							</li>
							<li>
							<a th:href="@{/signup}">회원가입</a>
							</li>
						</th:block>
						<th:block sec:authorize="isAuthenticated()">
							<li>
								<form th:action="@{logout}" method="post">
									<input type="submit" value="로그아웃">
								</form>
							</li>
							<li>
								<a th:href="@{/board}">게시판</a>
							</li>
							<li>
								<a th:href="@{/member/{memberNo}/update(memberNo=${#authentication.principal.member.memberNo})}">
								회원 수정</a>
							</li>
						</th:block>
					</ul>
				</div>
			</div>
		</nav>
	</th:block>
</html>