<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>나이와 이름 하나만 보내서 출력</title>
</head>	
<body>
	<span th:text="|${member.age}세 ${member.name}님 안녕히가세요~|"></span>
	
<!-- 	<p>이름 | 나이</p>
	<p>-----------------</p>
	<span th:text="${name}">이름</span>
	<span >|</span>
	<span th:text="${age}">나이</span>
	
	<p th:text="|${name} ${age}|"></p>
	<p th:test="|${name} d${age}|"></p> 
 	<span th:text="|${age}세 ${name}님 안녕히가세요~|"></span>
	
	<p>이름 | 나이</p>
	<p>-----------------</p>
	<span th:text="${name}">이름</span>
	<span >|</span>
	<span th:text="${age}">나이</span>
	
	<p th:text="|${name} ${age}|"></p>
	<p th:test="|${name} d${age}|"></p> -->
</body>
</html>