<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 목록</title>
</head>
<body>
	<table border="1">
		<tr>
			<th>이름</th>
			<th>나이</th>
			<th>상태</th>
		</tr>
		
		<!-- foreach 처럼 키값 : 있는 값 -->
		<tr th:each="member : ${members}">
			<td th:text="${member.name}">이름</td>
			<td th:text="${member.age}">나이</td>
			<td>
				<span th:if="${member.age >= 20}">성인</span>
				<!-- 반대일때 unless == ! 느낌 -->
				<span th:unless="${member.age >= 20}">미성년자</span>
			</td>
		</tr>
	</table>
</body>
</html>