<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{/include/layout}">
	<th:block>
	<script th:src="@{/js/jquery-3.7.1.js}"></script>
	<h1>할 일 목록</h1>
	<div class="search">
			내용:
			<input type="text">
			<input type="submit" value="검색">
	</div>
	<br>
	<div class="todo_list">
		<table border="1">
			<thead>
				<tr>
					<td>완료</td>
					<td>번호</td>
					<td>내용</td>
					<td>삭제</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.isEmpty(todoList)}">
					<td colspan="4">게시글이 없습니다.</td>
				</tr>
				<tr th:if="${!#lists.isEmpty(todoList)}"
					th:each="todo : ${todoList}">
					
					<td th:if="${#strings.equals(todo.flag,'N')}">
						<input th:attr="data-no=${todo.no}"
							type="checkbox" class="checeds">
					</td>
					<td th:if="${#strings.equals(todo.flag,'Y')}">
						<input th:attr="data-no=${todo.no}"
						type="checkbox" checked="checked" class="checeds">
					</td>
					
					<td th:text="${todo.no}"></td>
					<td th:text="${todo.content}"></td>
					<td>
						<!-- <input type="button" value="삭제"> -->
						<button th:attr="data-todo-no=${todo.no}">삭제</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<h1>할 일 추가</h1>
	<div class="create_todo">
		<form action='/home' name="create_todo_form" method="post" enctype="multipart/form-data">
		<input name="content" type="text" placeholder="할일을 입력하세요.">
		<input type="hidden" name="flag" value="N">
		<button>추가하기</button>
		</form>
	</div>
	<script>
		const form = document.create_todo_form;
		form.addEventListener('submit',(e)=>{
			e.preventDefault();
			
		
			const payload = new FormData(form);
			fetch("/home",{
				method : "post",
				body:payload
			})
			.then(response=>response.json())
			.then(data=>{
				alert(data.res_msg);
				if(data.res_code==200){
					location.href='/';
				}
			})
			
		})
		
		$(function(){
			$('.checeds').on('click',function(){
				const no = $(this).data('no');
				fetch('/home/'+no+'/update',{
					method:'post',
					body:no
				})
				.then(response=>response.json())
				.then(data=>{
					if(data.res_code==200){
						alert(data.res_msg);
						//location.href='/';
						location.reload();
					}
				});
			})
		})
		/*$(function(){
			$('.create_todo button').on('click',function(){
				const content = document.getElementById('create_content').value;
				
				console.log(content);
				fetch("/home",{
					method : "post",
					body:content
				})
				.then(response=>response.json())
				.then(data=>{
					alert(data.res_msg);
				})
			})
		})*/
	
		$(function(){
			$('.todo_list tbody tr button').on('click',function(){
				const no = $(this).data('todo-no'); 
				console.log(no);
				if(confirm("삭제하시겠습니까?")){
					fetch("/home/"+no,{
						method : "delete",
					})
					.then(response=>response.json())
					.then(data=>{
						alert(data.res_msg);
						// 있어야 하나 ↓
						if(data.res_code==200){
							location.href='/';
						}
					})
				}
			});
		})
	
	</script>
	</th:block>
</html>